<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Welcome to IO Cleaners</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}"
</head>
<body>

    <div class="container">
        <h1>Welcome to IO Cleaners!</h1>
        <p></p>
        <a href="{{ url_for('add_employee') }}">
            <button>Add Employee</button>
        </a>
        <a href="{{ url_for('view_employee')}}">
            <button>View Employees</button>
        </a>
    </div>

</body>
</html>

