<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Customers</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Customer List</h1>
        <table class="customers-table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Amount Paid</th>
                    <th>Date</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customer %}
                <tr>
                    <td>{{ customer[1] }}</td>
                    <td>{{ customer[2] }}</td> 
                    <td>{{ customer[3] }}</td> 
                    <td>{{ customer[4] }}</td> 
                    <td>{{ customer[5] }}</td> 
                    <td>{{ customer[6] }}</td> 
                    <td>{{ customer[7] }}</td> 
                    <td>{{ [8] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/" class="home-button">Back to Home</a>
    </div>
</body>
</html>

